<div class="card card-block">
  <img class="card-img-top" src="http://placehold.it/820X230" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">
       {{product?.title}}
    </h5>
    <h5 class="card-title pull-right">
      ${{product?.price}}
    </h5>   
    <p class="card-text">{{product?.desc}}
    <p class="card-text">
          <app-stars [rating]='product?.rating'></app-stars>
    </p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>
<div class="card card-block">
  <div class="card-body">
    <button class="btn btn-defaut btn-lg pull-right"
      [class.active]="isWatched"
      (click)="watchProduct()">
      {{isWatched?'Not Watching':'Watching'}}
    </button>
    <label for="LastestPrice">Lastest Price:${{currentBid |number : '.2-2'}}</label>
  </div>
</div>
<div class="comments">
  <div>
        <button class="btn btn-primary" (click)="isHiddenComment=!isHiddenComment">Add A Comment</button>
  </div>
  <div [hidden]="isHiddenComment">
    <br>
    <div>
      <app-stars [(rating)]="newRating" [readonly]="false"></app-stars>
    </div>
    <div>
      <textarea [(ngModel)]="newComment" class="form-control" rows="3" ></textarea>
    </div>
    <br>
    <div>
      <button class="btn btn-primary" (click)="addComment()">Submit</button>
    </div>
  </div>
  <br> 
  <div class="row" *ngFor="let comment of comments" >
    <hr>
    <div class="col-md-12">
      <app-stars [rating]='comment.rating'></app-stars>
      <p>{{comment.user}}</p>
      <span class="pull-right">{{comment.timestamp |   date:"dd/MM/yyyy HH:mm:ss"}}</span>
      <p></p>
      <p>{{comment.content}}</p>
    </div>
  </div>
</div>
