    <div class="container">
        <div class="row equal">
            <div class="col-sm-4 d-flex pb-3" *ngFor="let product of products" >
                <div class="card card-block">
                    <img class="card-img-top" [src]="imgUrl" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">
                         <a [routerLink]="['/product',product.title]">{{product.title}}</a>
                      </h5>
                      <p class="card-text">{{product.desc}}
                      <p class="card-text">
                            <app-stars [rating]='product.rating'></app-stars>
                      </p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>